<h1> MOVIE INFORMATION </h1>
Title: <%= @movie.title %>
<br>
Creation Year: <%= @movie.creation_year %>
<br>
Genre: <%= @movie.genre %>
<br>
<h3> ACTORS BY AGE </h3>
<% @movie.actors_by_age.each do |actor| %>
  <%= actor.name %>
  <br>
<% end %>
<h3> ACTORS AVERAGE AGE </h3>
Average Age: <%= @movie.average_age %>
