<h1> STUDIOS </h1>
<% @studios.each do |studio| %>
  <%= studio.name %>
  <br>
  <%= studio.location %>
  <br>
  <% studio.movies.each do |movie| %>
    <%= movie.title %>
    <br>
    <%= movie.creation_year %>
    <br>
    <%= movie.genre %>
  <% end %>
<% end %>
